/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f8fa;
    padding-top: 34px;
    padding-bottom: 34px;

}

#mainAside {
    width: 25%;
    display: inline-block;
}

#mainMain {
    width: 70%;
    display: inline-block;

}

.floatingTop {
    font-size: 48px;
    position: fixed;
    right: 18px;
    bottom: 36px;
    height: 37px;
    overflow: hidden;
}

.floatingTop a {
    text-decoration: none;
    background-color: black;
    color: white;
}

a {
    color: hsla(6, 89%, 59%, 1);
}

a:hover {
    color: hsla(6, 89%, 30%, 1);

}

@media (max-width: 720px){
    #mainAside{
        display: none;
    }

    #mainMain{
        width: 100%;
        padding: 0 8px;
        box-sizing: border-box;
    }
}